.page {
  display: flex;
  justify-items: center;
  min-height: 100svh;
  width: 100%;
  padding: 16px;
}

.pageGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding-top: 20px;
}
